.footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
  }
  
  .footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
  }
  
  .footer h3 {
    color: #ffd703;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li{
    margin-bottom: 5px;
  }

  .link{
    text-decoration: none;
    color:#fff;
    font-weight:700;
 
  }
  .link:hover {
    color: #ffd703; 
}