.Hub-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
margin-top: -10px;
}

.hub {
  position: flex;
}

.App-link {
  color: #61dafb;
}

.Hub-title {
 margin-top: 90px;
  color: #f0d024;
  margin-bottom: -30px;
}

/*.pretty-button {
  color: #f0d024;
  background-color: #282c34;
}
*/

/*
.pretty-button {
  color: #000000;
  font-size:medium;
  background-color: #FFC107;
  margin-bottom: 20px;
  height: 5vh;
  border: none;
  border-radius: 4px;
}
*/

.pretty-button {
display: inline-block;
outline: 0;
border: none;
cursor: pointer;
font-weight: 600;
border-radius: 4px;
font-size: 13px;
height: 30px;
background-color: #FFC107;
color: #0e0e10;
padding: 0 20px;
margin-bottom: 5px;
}

.pretty-button:hover {
    background-color: #0000001a;
    color: #FFC107;
}

.hub-button-containter {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 100px;
    height: 100px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

