.Hub-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
margin-top: -10px;
}

.hub {
  position: flex;
}

.App-link {
  color: #61dafb;
}

.Hub-title {
 margin-top: 90px;
  color: #f0d024;
  margin-bottom: -30px;
}

.pretty-button {
  color: #f0d024;
  background-color: #282c34;
}

.hub-button-containter {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 100px;
    height: 100px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
