.leafletcss1{
     /*height: 100vh;*/

color:red;
background-color: transparent;
overflow-y: hidden;
overflow-x: hidden;
scroll-behavior: none;

/*display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
*/
}


.title-lc{
    color: black;
    font:larger;
}


/*DO NOT TOUCH*/
.leaflet-container {
    height: 87.9vh;
    width: 100%;
    margin-top: 85px;
    z-index: 2;
    overflow: hidden;
  }


  /* 768px (mobile) probado en iphone 15 pro */
@media (max-width: 767px) {
    .mapcont {
       padding:0px;
       margin-top: 0px;
    }
}

/*  768px (desktop) probado en laptop*/
@media (min-width: 768px) {
    .mapcont {
        padding-top:0px;  /*WIP*/
        margin-top:10px;
      
    }
}