.leaflet-container{
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
}

/*IPHONE 15*/

@media screen and (max-width: 767px) {
  .leaflet-container  {
    width: 100vw;  /*tratar con porciento*/
  /*height: 100vh; */
    /*height: 89vh; */
  height:168vw;

  }
}
/*SWITCH BOX-------------------------------------------------------------------*/
.custom-checkbox{
    position: absolute; /* Posicionamiento absoluto para quedar sobre el mapa */
     z-Index: 3; /* Asegura que queden sobre el mapa   998*/
    margin: 5px; /* Ajusta para dar espacio alrededor de los elementos */
      top: 85px;
      left: 1px;
  }

    /* MOBILE*/
@media screen and (max-width: 767px) {
  .custom-checkbox {
    position: absolute;
    left: 1px;
    top:81%;
    margin-top: 80px;
    
  }
}
  
/*SORT DROP BOX-------------------------------------------------------------------*/
 .interior-select {
  position: absolute; /* Posicionamiento absoluto para quedar sobre el mapa */
  z-Index: 3; /* Asegura que queden sobre el mapa   998*/
top:6vh;
  }
  
/* MOBILE*/
@media screen and (max-width: 767px) {
  .interior-select {
    position: absolute;
    top: -33px; 
    right: 10px;
    margin-top: 80px;
 max-width: 150px; /* Adjust the value according to your needs */
  }
}

/*SEARCH BAR-------------------------------------------------------------------*/
  .search-bar {
    position: absolute; /* Posicionamiento absoluto para quedar sobre el mapa */
     z-Index: 3; 
    margin: 3px; 
    top:12.25vh;
    /* transform: translateX(-50%); /* Centra el search bar horizontalmente */
  }

    /* DESKTOP*/
  @media screen and (min-width: 769px) {
    .search-bar {
      justify-content: center; /* Center items horizontally */
      align-items: flex-start; /* Align items to the start (top side) */
      margin-left: 42%;
    }
  }

  /* MOBILE*/
@media screen and (max-width: 767px) {
  .search-bar {
    position: absolute;
  top: 10px; /* Adjust as needed */
  left: 1px; /* Adjust as needed */ /* Center items vertically */
    width:50%;
    margin-top: 80px;
  }
}
  
/* 768px (mobile) probado en iphone 15 pro */
/*
@media (max-width: 767px) {
  .search-bar  {
    top: 11.90%;
    left: 31%;
    transform: translateX(-50%);
  }
}
*/


/*
@media (max-width: 767px) {
.interior-select  {
    top: 5%; /* Espacio desde la parte superior* /
    left: 68%;
  }
  */
  

  /* 768px (mobile) probado en iphone 15 pro */
  /*
@media (max-width: 767px) {
  .category-select, .interior-select  {
    top: 5%; /* Espacio desde la parte superior* /
    left: 68%;
  }
}
*/
  
 
  /* 768px (mobile) probado en iphone 15 pro */
  /*
@media (max-width: 767px) {
  .custom-checkbox {
    top: 92%;
   left:.05%;
  }
}
*/


  /*
.title-indoor{
    z-index: 3;
    color: rgb(4, 4, 4);
}*/

.textbox_text{
  font-weight:600;
  font-size: medium;
}

.textbox_button{
 border-color: #ffd703;
  font-weight:600;
  margin-bottom: 10px;
}

.certify-container
{

  background-color: #eaf1f7;
  padding: 3px;
  border: 2px solid #b6bec6;
  border-radius: 5px;
  z-index: 9999; /* Higher z-index value to ensure it's in front */
 
}

.certify-box
{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  color: black;
  justify-content: center;

}

.certify-checkbox{
background-color: red;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MODAL location>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.modal-box{
  background-color:#DAE0E6;
z-index: 3;
  margin-top: 140px;
  overflow-y:auto;/* !!overflow-y a 'auto' or 'scroll' para scrolling!! */
  overflow-x:hidden;
  height: 525px;
  max-height:525px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  outline: none;
}

@media screen and (min-width: 800px) {
  .modal-box{
  text-align:center;
  width: 30%;
  align-items: center;
  margin:auto; 
  margin-top: 15vh;
  height: 100%;
  max-height: 85%;

  }
}

.modal-box-top {
  position: fixed;
    width: 100%;
    height: 50px;
    background-color: #1A344A ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 3;
   }

   @media screen and (min-width: 800px) {
    .modal-box-top{
      align-self: center;
    text-align:center;
    width: 30%;
    }
  }

.location-title{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-Weight:500;
    font-size:30px;
    text-align: center;
  }

.location-img {
  width: 100%;
  height: 100%; /*era 500%*/
  margin-top: 50px;
  /*height: 800px; */ /*para testing de scrolling*/
  /* visibility: hidden; /*para testing*/
}

@media screen and (min-width: 800px) {
  .location-img{
    width: 100%;
    height: 50%;
  }
}

.hr-modal {
  border: none;
  border-top: 10px solid #ffd703; /* linea que cruza */
  margin: 20px 0; /* espacio que hay entre las cosas y la linea */
  margin-top:-5px;
}

.location-info-text{
  position: relative;
   color: rgb(0, 0, 0);
   font-weight: 600px;
   font-size: 20px;
   overflow-wrap: break-word; /*para que texto no se salga de pagina*/
   width: 95%;
   /*height:100px;*/
   text-align: left; /* empiece en inzquierda */
   margin-left: 10px;
 }

 @media screen and (min-width: 800px) {
  .location-info-text{
    font-size: 18px;
  }
}
 
 .modal-exit{
  /* font-size: 20px ;
  color: rgb(228, 0, 0);
  text-decoration: none;
  text-align:center;
  margin-bottom: 10px;
  */

/* FOR EXIT TEXT
  position: absolute;
  font-size: 20px ;
  color: rgb(228, 0, 0);
  text-decoration: none;
  align-items: right;
  display: flex; 
left: 88%;
top: 100%;
  align-items:flex-end;
*/
position: absolute;
  font-size: 20px ;
  color: rgb(228, 0, 0);
  text-decoration: none;
  align-items: right;
  display: flex; 
right: 88%;
top: 110%;
  align-items:flex-end;
 }
@media screen and (min-width: 800px) {
  .modal-exit{
    right: 90%;
    top:110%;
  }
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>switch button>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.custom-checkbox input#status {
  display: none;
}
.custom-checkbox input#status + label {
  height: 100%;
  width: 100%;
}
.custom-checkbox input#status + label > .status-switch {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #a8adb2;
  color: black;
  transition: all 0.5s ease;
  padding: 3px;
  border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
}
.custom-checkbox input#status + label > .status-switch:before, .custom-checkbox input#status + label > .status-switch:after {
  border-radius: 2px;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  transition: all 0.3s ease;
}
.custom-checkbox input#status + label > .status-switch:before {
  border-radius: 2px;
  background-color: white;
  color: black;
  /*box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);*/
  left: 3px;
  z-index: 10;
  content: attr(data-unchecked);
}
.custom-checkbox input#status + label > .status-switch:after {
  right: 0;
  content: attr(data-checked);
}
.custom-checkbox input#status:checked + label > .status-switch {
  background-color: #ffd703;
}
.custom-checkbox input#status:checked + label > .status-switch:after {
  left: 0;
  content: attr(data-unchecked);
}
.custom-checkbox input#status:checked + label > .status-switch:before {
  color: black;
  left: 50%;
  content: attr(data-checked);
}