.leaflet-container{
  margin-top: 85px;
  width: 100vw;
  height: 87.91vh;
  z-index: 2;
  overflow: hidden;
}
/*IPHONE 15*/
@media (max-width: 767px) {
  .leaflet-container  {
    top: 10%;
    width: 100vw;
  height: 77.60vh;
  }
}


  .search-bar, .category-select, .custom-checkbox, .interior-select {
    position: absolute; /* Posicionamiento absoluto para quedar sobre el mapa */
    z-index: 4; /* Asegura que queden sobre el mapa */
    margin: 10px; /* Ajusta para dar espacio alrededor de los elementos */
  }
  
  .search-bar {
    top: 12%;
    left: 50%;
    transform: translateX(-50%); /* Centra el search bar horizontalmente */
  }
/* 768px (mobile) probado en iphone 15 pro */
@media (max-width: 767px) {
  .search-bar  {
    top: 11.90%;
    left: 40%;
    transform: translateX(-50%);
  }
}
  
  .category-select, .interior-select {
    top: 5%; /* Espacio desde la parte superior */
    left: 90%;
  }
  /* 768px (mobile) probado en iphone 15 pro */
@media (max-width: 767px) {
  .category-select, .interior-select  {
    top: 5%; /* Espacio desde la parte superior*/
    left: 68%;
  }
}
  
  .custom-checkbox {
    top: 12%;
    left: 50px;
  }
  /* 768px (mobile) probado en iphone 15 pro */
@media (max-width: 767px) {
  .custom-checkbox {
    top: 92%;
   left:.05%;
  }
}

 








  /*
.title-indoor{
    z-index: 3;
    color: rgb(4, 4, 4);
}*/