.leafletcss1{
     /*height: 100vh;*/
color:red;
background-color: transparent;
overflow-y: hidden;
overflow-x: hidden; 
overflow: hidden;
}

/*display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
* /
}
*/

.title-lc {
    color: black;
    font-size: large;
    position: relative; /* Set position to relative or absolute */
    top: 0px;
    right:0px;
    z-index: 9999; /* Higher z-index value to ensure it's in front */
    background-color: transparent;
 
}

@media (max-width: 767px) {
    .title-lc{
        top: 0px;
         right: 0px;
         z-index: 9999; /* Higher z-index value to ensure it's in front */
         padding-right: 5px;
         padding-left: 30px;
    }
}

.level{
    font-size: large;
    color: #F1393A;
    font-weight: bold;
   
}

/*BOTONES==================================================================================*/
/*RESET==================================================================================*/
.reset-button{
    position: absolute;
    bottom: 150px;
    right: 20px;
    z-Index: 999;
    background-color: #ffffff;
    border-color: #B1B1B1;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
 .reset-button:active {
    background-color:#FFD703;
  }
  
/*IPHONE 15*/
  @media (max-width: 767px) {
    .reset-button{
        right: 10px;
        bottom: 140px;
    }
}

/*RECENTER==================================================================================*/
.recenter-button{
    position: absolute;
    bottom: 100px;
    right: 20px;
    z-Index: 999;
    background-color: #ffffff;
    border-color: #B1B1B1;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
 .recenter-button:active {
    background-color:#FFD703;
  }
  
/*IPHONE 15*/
  @media (max-width: 767px) {
    .recenter-button{
        right: 10px;
        bottom: 100px;
    }
}

/*ZOOM==================================================================================*/
.leaflet-control-zoom{
   /*top: 30px;
    right: 0px; */
    top: 520px;
    left: 1470px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-color: #B1B1B1;
    border-radius: 5px;
}
/*IPHONE 15*/
@media (max-width: 767px) {
    .leaflet-control-zoom{
        top: 470px;
    left: 338.5px;
    }
}




/*----------------------------------------------------------------DO NOT TOUCH------------------------------------------------------------*/

.leaflet-image-layer
{
    z-index: 1; 
    transform: translate3d(8899px, 180px, 0px);
     width: 1555px; 
     height: 400px;
}

 /*  Original
 .leaflet-image-layer
{
    z-index: 1; 
    transform: translate3d(889px, 180px, 0px);
     width: 1422px; height: 400px;
}
*/

/* 768px (mobile) probado en iphone 15 pro */
@media (max-width: 767px) {
    .MapContainer {
        zoom: -1;
    }
}

.legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgb(230, 230, 230);
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999; /* Higher z-index value to ensure it's in front */
  }
  
  .legend h3 {
    margin-top: 0;
    color: black;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    color: black;
  }
  
  .legend-item img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
